@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Rubik:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
  background-color: #0f1424; }

body {
  padding: 4rem 2rem; }

.time-tracking-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: start; }

@media screen and (min-width: 75em) {
  .time-tracking-dashboard {
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(25rem, min-content) min-content;
    grid-gap: 2rem;
    grid-auto-rows: 1fr;
    justify-content: center;
    align-items: center; } }

.main-card {
  display: grid;
  grid-template-rows: 1fr min-content;
  border-radius: 1.5rem;
  background-color: #1c1f4a;
  margin-bottom: 3rem; }
  .main-card__details {
    background-color: #5847eb;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2.5rem 2rem;
    border-radius: 1.5rem; }
  .main-card__image {
    height: 8rem;
    width: 8rem;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 2rem; }
  .main-card__heading {
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 0.5rem; }
  .main-card__name {
    font-size: 2rem; }
  .main-card__report {
    color: #bdc1ff;
    display: flex;
    flex-direction: column; }
  .main-card__dashboard-heading {
    background-color: #1c1f4a;
    border-radius: 1.5rem;
    padding: 2.5rem; }
    .main-card__dashboard-heading-list {
      list-style: none;
      color: #6f76c8;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .main-card__dashboard-heading-item {
      font-size: 1.8rem;
      font-weight: 300; }
    .main-card__dashboard-heading-link:hover, .main-card__dashboard-heading-link:active, .main-card__dashboard-heading-link:visited {
      color: white; }
    .main-card__dashboard-heading-link {
      text-decoration: none;
      cursor: pointer; }

@media screen and (min-width: 75em) {
  .main-card {
    align-self: stretch;
    margin-bottom: 0; }
    .main-card__heading {
      font-size: 1.5rem; }
    .main-card__name {
      font-size: 3rem;
      font-weight: 300;
      color: white; }
    .main-card__details {
      flex-direction: column;
      justify-self: stretch;
      align-items: start;
      padding: 2.5rem 4rem 6rem 2rem; }
    .main-card__report {
      margin-top: 4rem; }
    .main-card__dashboard-heading {
      padding-bottom: 1rem; }
      .main-card__dashboard-heading-list {
        flex-direction: column;
        align-items: start; }
      .main-card__dashboard-heading-item {
        padding-bottom: 2rem; } }

.dashboard {
  color: white;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column; }
  .dashboard__item {
    border-radius: 1.5rem;
    margin-bottom: 3rem; }
  .dashboard__heading {
    border-radius: 1.5rem 1.5rem 0 0;
    padding-bottom: 6rem;
    background-position: right;
    background-repeat: no-repeat; }
    .dashboard__heading--1 {
      background-image: url("/images/icon-work.svg");
      background-color: #ff8c66; }
    .dashboard__heading--2 {
      background-image: url("/images/icon-play.svg");
      background-color: #56c2e6; }
    .dashboard__heading--3 {
      background-image: url("/images/icon-study.svg");
      background-color: #ff5c7c; }
    .dashboard__heading--4 {
      background-image: url("/images/icon-exercise.svg");
      background-color: #4acf81; }
    .dashboard__heading--5 {
      background-image: url("/images/icon-social.svg");
      background-color: #7536d3; }
    .dashboard__heading--6 {
      background-image: url("/images/icon-self-care.svg");
      background-color: #f1c65b; }
  .dashboard__body {
    border-radius: 1.5rem;
    background-color: #1c1f4a;
    padding: 3rem;
    cursor: pointer; }
    .dashboard__body:hover {
      background-color: rgba(255, 255, 255, 0.2); }
  .dashboard__subheading {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem; }
    .dashboard__subheading--content {
      font-weight: 400; }
    .dashboard__subheading--dots {
      color: #bdc1ff; }
      .dashboard__subheading--dots:hover {
        color: white; }
  .dashboard__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    padding-top: 2rem; }
    .dashboard__content--main {
      font-size: 2.3rem; }
    .dashboard__content--prev {
      font-size: 1.5rem;
      color: #bdc1ff; }

@media screen and (min-width: 75em) {
  .dashboard {
    display: grid;
    grid-template-rows: repeat(2, minmax(25rem, 1fr));
    grid-template-columns: repeat(3, minmax(25rem, min-content));
    grid-column-gap: 2rem;
    justify-content: start;
    align-items: center; }
    .dashboard__item {
      margin-bottom: 0; }
    .dashboard__body {
      margin: -1rem 0; }
    .dashboard__content {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      .dashboard__content--main {
        font-size: 4rem; }
      .dashboard__content--prev {
        margin-top: 1rem; } }
